/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details img{
  color: #fff;
  height: 50px;
  width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

.nav-links{
  margin-left: -10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.sidebar .nav-links .nav-links-item{
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.sidebar.close .nav-links .nav-links-item span{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.nav-links-item img{
  width: 40px;
}


.one {
  width: 80%;
  margin-left: 10%;
  background-color: black;
  height: 400px;
}
.sidebar .home-section{
  position: relative;
  background: #000000;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-chevron-right,
.home-section .home-content .text{
  color: #ececec;
  font-size: 35px;
  transition: all 0.5s ease;
}
.home-section .home-content .bx-chevron-right{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .bx-chevron-left,
.home-section .home-content .text{
  color: #ececec;
  font-size: 35px;
  
  transition: all 0.5s ease;
}
.home-section .home-content .bx-chevron-left{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 420px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
}
